@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply
      bg-neutral-950
      text-white
      h-screen
      w-screen
    ;
  }

  header {
    @apply
      text-center
      text-2xl
    ;
  }

  input {
    @apply
      bg-transparent
      w-full
    ;
  }

  button {
    @apply
      w-full
      bg-black
      py-2
      rounded
      border
      border-neutral-500
      active:translate-y-0.5
    ;
  }

  select {
    @apply
      w-full
      p-2
      bg-transparent
      rounded
      border
      border-neutral-500
      md:bg-neutral-950
    ;
  }
}


@layer components {
  .card {
    @apply
      border
      border-neutral-500
      bg-black
      text-white
      rounded
    ;
  }

  .input-fieldset {
    @apply
      border
      border-neutral-500
      rounded
      md:bg-neutral-950
      w-full
    ;
  }

  .input-legend {
    @apply
      ml-2
    ;
  }

  .input-container {
    @apply
      pl-2
      pb-2
      pr-1
    ;
  }

  .temperatures-output {
    @apply
      grid
      grid-rows-4 md:grid-rows-2
      grid-cols-1 md:grid-cols-2
      gap-4
    ;
  }

  .temperature-container {
    @apply
      card
      center
      relative
      p-2
      h-24
      hover:cursor-copy
    ;
  }

  .temperature-label {
    @apply
      absolute
      top-2
      left-2
      text-lg
      text-neutral-500
    ;
  }
  
  .temperature-output {
    @apply
      block
      text-2xl
      font-medium
      center
    ;
  }

  .temperature-copy-icon {
    @apply
      absolute
      text-xl
      fill-neutral-500
      left-3/4
      transition-all
      scale-0
      origin-center
      duration-75
    ;
  }
}


@layer utilities {
  .center {
    @apply
      flex
      items-center
      justify-center
    ;
  }
}
